@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-path-slant {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }
}

body {
  background-color: theme('colors.background');
  color: theme('colors.text');
}
